<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amlogic.asplayer.demo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.CREATE_USERS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_TV_TUNER" />
    <uses-permission android:name="android.permission.TUNER_RESOURCE_ACCESS" />
    <uses-permission android:name="android.permission.ACCESS_TV_DESCRAMBLER" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASPlayerDemo">

<!--        <uses-library android:name="droidlogic.jniasplayer" />-->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".local.LocalTvPlayerSettingActivity" />
        <activity android:name=".local.LocalTvPlayerActivity"
            android:theme="@style/Theme_FullScreen"></activity>

        <activity android:name=".live.LiveTvPlayerSettingActivity" />
        <activity android:name=".live.LiveTvPlayerActivity"
            android:theme="@style/Theme_FullScreen"></activity>

    </application>

</manifest>